@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@


<br />

<br />
<br />


<table align="center" width="100%">
    <tr>
        <td colspan="4" align="center">
            <h2 class="un"><span>RETROUVEZ VOS ESSENTIELS</span></h2>
        </td>
    </tr>

    <tr>

        <td><img src="~/images/3600523873821_1_XXL.png" /></td>
        <td><img src="~/images/3600523503285_1_v2_XXL.jpg" /></td>
        <td><img src="~/images/3600523899708_1_XXL.png" /></td>
        <td><img src="~/images/3054080002178_1_XXL.jpg" /></td>
    </tr>
</table>
<br />
<br />
<h2 class="un"><span>LES IDEES CADEAUX</span></h2>
<br />
<table align="center" width="100%">
    <tr>
        <td><img src="~/images/lp-nouveaute-club-lorealista.png" /></td>
        <td><img src="~/images/mon-diagnostic-teint.jpg" /></td>
        <td><img src="~/images/OAP-Push-Nav-2020_kits_03.jpg" /></td>
        <td><img src="~/images/OAP-Push-Nav_AUTRECOTE_03_03.jpg" /></td>
    </tr>
</table>

<br />
<br />
<table align="center" width="100%">
    <tr>
        <td>
        </td>
    </tr>
</table>
<h2 class="un"><span>COUPS DE COEUR</span></h2>
<br />
<br />
<table align="center" width="100%">
    <tr>
        <td><img src="~/images/2735839.webp" /><p>CHANEL FAIT SA RENTRÉE EN BEAUTÉ</p></td>

        @*<td><img src="~/images/VOCE-VIVA-Template-Marque-Duo-HP.jpg"></td>*@
    </tr>
</table>

<h2 class="un"><span>LES IDEES CADEAUX</span></h2>
<br />
<table align="center" width="100%">
    <tr>
        <td><img src="~/images/Carrousel_coffrets.jpg" /></td>
        <td><img src="~/images/Carrousel_Trade_Dior.jpg" /></td>
        <td><img src="~/images/Carrousel_Trade_Rituals.jpg" /></td>
    </tr>
</table>




