@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<table align="center" width="100%">
    <tr>
        <td><img src="~/images/chanel.webp" /><p>CHANEL FAIT SA RENTRÉE EN BEAUTÉ</p></td>

        @*<td><img src="~/images/VOCE-VIVA-Template-Marque-Duo-HP.jpg"></td>*@
    </tr>
</table>

<h2 class="un"><span>LES IDEES CADEAUX</span></h2>
<br />
<table align="center" width="100%">
    <tr>
        <td><img src="~/images/dsk-2011-fr-HPFooter-Fenty_Beauty.webp" /></td>
        <td><img src="~/images/dsk-2011-fr-hpfooter-BD-Makeup.webp" /></td>
    </tr>
</table>


@*<h2 class="un"><span>COUPS DE COEUR</span></h2>
    <br />
    <br />*@
<!--<div class="slider">
    <div class="slide-viewer">
        <div class="slide-group">
            <div class="slide slide-1">
                <img src="~/images/3600523823321_1_XXL.jpg" /><img src="~/images/3600523823352_1_XXL.jpg"><img src="~/images/0000030178540_1_XXL.jpg"/>
            </div>
            <div class="slide slide-2">
                <img src="~/images/3600523343959_1_XXL.jpg" /><img src="~/images/3600523543205_1_XXL.jpg"><img src="~/images/3600523919031_1_XXL.jpg">
            </div>-->
@*<div class="slide slide-3">
        <img src="~/images/3054080002178_1_XXL.jpg" /><img src="~/images/3054080002178_1_XXL.jpg"><img src="~/images/3054080002178_1_XXL.jpg"><img src="~/images/3054080002178_1_XXL.jpg">
    </div>
    <div class="slide slide-4">
        <img src="~/images/3054080002178_1_XXL.jpg" /><img src="~/images/3054080002178_1_XXL.jpg"><img src="~/images/3054080002178_1_XXL.jpg" alt="No two are the" /><img src="~/images/3054080002178_1_XXL.jpg">
    </div>*@
<!--</div>
    </div>
    <div class="slide-buttons"></div>
</div>-->
