@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<table class="getbackgroundcolorservices" width="100%" align="center">
    <tr>
        <td align="center">
            <img src="~/images/C&C-BigXmas.webp" />
            <p>Retrait gratuit</p>
        </td>
        <td align="center">
            <img src="~/images/Livraison-BigXmas.webp" />
            <p>Livraison offerte</p>
        </td>
        <td align="center">
            <img src="~/images/Retour Gratuit-BigXmas.webp" />
            <p>Retours gratuits</p>
        </td>
        <td align="center">
            <img src="~/images/Paiement Securise-BigXmas.webp" />
            <p>Paiement Sécurisé</p>
        </td>
    </tr>
</table>