



<section>
    <div class="slider">
        <div class="slide-viewer">
            <div class="slide-group">
                <div class="slide slide-1">
                    <img src="~/images/W47-HP-EXCLU-WEB-1-V3xmas.webp" alt="" />
                </div>
                <div class="slide slide-2">
                    <img src="~/images/W48-HP-EXCLU-WEB-xmas.webp" alt="" />
                </div>
                <div class="slide slide-3">
                    <img src="~/images/BF-HP-PROMO-NATIONALE-W48-xmas.webp" alt="" />
                </div>
                <div class="slide slide-4">
                    <img src="~/images/FR-MARIONNAUD-HOLIDAYS-N5-EOY-1024x450.webp" alt="" />
                </div>
            </div>
        </div>
        <div class="slide-buttons"></div>
    </div>
</section>


